#1.3.6.1.4.1.34601.2.1.1 = ASN1:SET:MongoDBAuthorizationGrant
asn1=SET:MongoDBAuthorizationGrant

[MongoDBAuthorizationGrant]
grant1 = SEQUENCE:MongoDBRole
grant2 = SEQUENCE:MongoDBRole2

[MongoDBRole]
role  = UTF8:backup
database = UTF8:admin

[MongoDBRole2]
role  = UTF8:readAnyDatabase
database = UTF8:admin
