#1.3.6.1.4.1.34601.2.1.1 = ASN1:SET:MerizoDBAuthorizationGrant
asn1=SET:MerizoDBAuthorizationGrant

[MerizoDBAuthorizationGrant]
grant1 = SEQUENCE:MerizoDBRole
grant2 = SEQUENCE:MerizoDBRole2

[MerizoDBRole]
role  = UTF8:backup
database = UTF8:admin

[MerizoDBRole2]
role  = UTF8:readAnyDatabase
database = UTF8:admin