# Reference docs: https://bazel.build/run/bazelrc

# This makes builds more hermetic by preventing environment variables from leaking into the execution of rules
build --incompatible_strict_action_env=true

# Configure default values for platforms, host_platform, and crosstool_top.
# This supports the "crosstool" feature (aka building from our toolchain).
build --platforms=@mongo_toolchain//:platform
build --host_platform=@mongo_toolchain//:platform
build --crosstool_top=@mongo_toolchain//:toolchain_suite
