If:
  PathMatch: src/.*
  PathExclude:
    [
      src/mongo/db/modules/monograph/cass/.*,
      src/mongo/db/modules/monograph/tx_service/.*,
      src/mongo/db/modules/monograph/mono_metrics/.*,
    ]
CompileFlags:
  CompilationDatabase: ./
  Add: [-Isrc/third_party/asio-master/asio/include, -Wall]
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
        # modernize-*,
        cppcoreguidelines-*,
        performance-*,
        bugprone-*,
        google-*,
      ]

---
If:
  PathMatch:
    [
      src/mongo/db/modules/monograph/cass/*,
      src/mongo/db/modules/monograph/tx_service/*,
      src/mongo/db/modules/monograph/mono_metrics/*,
    ]
CompileFlags:
  CompilationDatabase: src/mongo/db/modules/monograph/build
