Checks:          '-*,
                  clang-diagnostic-*,
                  bugprone-unused-raii,
                  bugprone-use-after-move,
                  readability-const-return-type,
                  readability-avoid-const-params-in-decls,
                  boost-use-to-string,
                  bugprone-inaccurate-erase,
                  bugprone-integer-division,
                  modernize-make-shared,
                  bugprone-fold-init-type,
                  bugprone-bool-pointer-implicit-conversion,
                  bugprone-assert-side-effect,
                  bugprone-copy-constructor-init,
                  bugprone-dangling-handle,
                  bugprone-incorrect-roundings,
                  bugprone-macro-repeated-side-effects,
                  bugprone-misplaced-operator-in-strlen-in-alloc,
                  bugprone-multiple-statement-macro,
                  bugprone-string-integer-assignment,
                  bugprone-suspicious-enum-usage,
                  bugprone-suspicious-memset-usage,
                  bugprone-swapped-arguments,
                  bugprone-terminating-continue,
                  bugprone-undelegated-constructor,
                  hicpp-static-assert,
                  hicpp-undelegated-constructor,
                  misc-uniqueptr-reset-release,
                  modernize-avoid-bind,
                  modernize-replace-auto-ptr,
                  modernize-replace-random-shuffle,
                  modernize-shrink-to-fit,
                  modernize-unary-static-assert,
                  performance-implicit-conversion-in-loop,
                  performance-inefficient-algorithm,
                  bugprone-suspicious-string-compare,
                  -bugprone-argument-comment,
                  -bugprone-exception-escape,
                  -bugprone-forward-declaration-namespace,
                  -bugprone-forwarding-reference-overload,
                  -bugprone-lambda-function-name,
                  -bugprone-macro-parentheses,
                  -bugprone-misplaced-widening-cast,
                  -bugprone-move-forwarding-reference,
                  -bugprone-narrowing-conversions,
                  -bugprone-parent-virtual-call,
                  -bugprone-sizeof-container,
                  -bugprone-sizeof-expression,
                  -bugprone-string-constructor,
                  -bugprone-string-literal-with-embedded-nul,
                  -bugprone-suspicious-missing-comma,
                  -bugprone-suspicious-semicolon,
                  -bugprone-undefined-memory-manipulation,                              
                  -bugprone-unused-return-value,             
                  -cert-err34-c,
                  -cert-err52-cpp,
                  -cert-err60-cpp,
                  -cert-flp30-c,
                  -cppcoreguidelines-avoid-goto,
                  -cppcoreguidelines-c-copy-assignment-signature,
                  -cppcoreguidelines-interfaces-global-init,
                  -cppcoreguidelines-narrowing-conversions,
                  -google-build-explicit-make-pair,
                  -google-build-namespaces,
                  -google-global-names-in-headers,
                  -google-objc-avoid-throwing-exception,
                  -google-objc-global-variable-declaration,
                  -google-readability-function-size,
                  -google-readability-namespace-comments,
                  -google-runtime-operator,
                  -hicpp-avoid-goto,
                  -hicpp-function-size,
                  -hicpp-invalid-access-moved,
                  -hicpp-move-const-arg,
                  -hicpp-named-parameter,
                  -hicpp-use-equals-default,
                  -hicpp-use-equals-delete,
                  -hicpp-use-noexcept,
                  -hicpp-vararg,
                  -misc-definitions-in-headers,
                  -misc-misplaced-const,
                  -misc-non-copyable-objects,
                  -misc-redundant-expression,
                  -misc-static-assert,
                  -misc-throw-by-value-catch-by-reference,
                  -misc-unconventional-assign-operator,
                  -misc-unused-alias-decls,
                  -modernize-use-bool-literals,
                  -modernize-use-emplace,
                  -modernize-use-noexcept,
                  -modernize-use-uncaught-exceptions,
                  -performance-faster-string-find,
                  -performance-for-range-copy,   
                  -performance-inefficient-string-concatenation,
                  -performance-inefficient-vector-operation,
                  -performance-move-constructor-init,
                  -performance-type-promotion-in-math-fn,
                  -performance-unnecessary-value-param,
                  -readability-delete-null-pointer,
                  -readability-deleted-default,
                  -readability-inconsistent-declaration-parameter-name,
                  -readability-misplaced-array-index,
                  -readability-non-const-parameter,
                  -readability-redundant-control-flow,
                  -readability-redundant-function-ptr-dereference,
                  -readability-simplify-subscript-expr,
                  -readability-static-accessed-through-instance,
                  -readability-string-compare,
                  -readability-uniqueptr-delete-release
                  '
WarningsAsErrors: '*'
HeaderFilterRegex: '(mongo/.*|build/.*)'
CheckOptions:    
  - key:             bugprone-assert-side-effect.AssertMacros
    value:           assert
  - key:             bugprone-assert-side-effect.CheckFunctionCalls
    value:           '0'
  - key:             bugprone-dangling-handle.HandleClasses
    value:           'std::basic_string_view;std::experimental::basic_string_view'
  - key:             bugprone-suspicious-enum-usage.StrictMode
    value:           '0'
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-replace-random-shuffle.IncludeStyle
    value:           llvm