Checks:          '-*,bugprone-unused-raii,bugprone-use-after-move,readability-const-return-type,readability-avoid-const-params-in-decls,boost-use-to-string,bugprone-inaccurate-erase,bugprone-integer-division,modernize-make-shared'
WarningsAsErrors: '*'
HeaderFilterRegex: '(mongo/.*|build/.*)'
