*.vcproj -crlf -diff -merge
*.pbxproj -crlf -diff -merge
*.sh text eol=lf
**/third_party/**/* rules-lint-ignored=true
external rules-lint-ignored=true
*.idl linguist-language=yaml

MODULE.bazel.lock rules-lint-ignored=true linguist-generated
