/build
/src/mongo/db/modules
/.jsdbshell
/.dbshell
/*.ninja
/*.ninja.*
/.ninja_deps
/.ninja_log
/perf.data
/perf.data.old
/massif.out.*

*~
*.swp
*.o
*.os
*.obj
*.aps
*.ilk
*.tar.gz
*.suo
*.ncb
*.idb
*.obj
*.opt
*.pch
*.jsh
*.jsall
*.pyc
*.log
*.exe
*.exp
*.lib
*.idb
*.pdb
*.manifest
*.user
*.gch
*.*sdf
*.psess
*.tmp
*.eslintcache
*#
.#*

/src/mongo/*/*Debug*/
/src/mongo/*/*/*Debug*/
/src/mongo/*/*Release*/
/src/mongo/*/*/*Release*/
/src/ipch
/src/mongo/*/ipch
/src/mongo/*/*/ipch
/src/mongo/db/.gdb*
/src/mongo/db/makefile.local
/src/mongo/db/_ReSharper.db
/src/third_party/*/*.cache
/src/third_party/*/*.tlog
/src/third_party/*/*.lastbuildstate
/buildscripts/libdeps/graph_visualizer_web_stack/build
/buildscripts/libdeps/graph_visualizer_web_stack/node_modules
package-lock.json
libdeps.graphml
config.log
settings.py
log_config.py
/tags
TAGS

# temp dirs
dump
/log
logs
docs/html
docs/latex
docs/doxygen
32bit
scratch

# binaries
/docgen
/loadgen
/mongo
/mongobridge
/mongocryptd
/mongod
/mongoed
/mongogrid
/mongokerberos
/mongoldap
/mongoperf
/mongos
/mongoshim
/mongosniff
/mongotmock
/mongotrafficreader
/wt

*.tgz
*.zip
*.tar.gz

#libs
/libmongoclient.*
/libmongotestfiles.*
/libmongoshellfiles.*
/sharedclient
/genny

/emr.jar
*.class

# examples
/firstExample
/secondExample
/whereExample
/bsondemo
/rsExample
/tutorial

#tests
/dbtest
/authTest
/perftest
/clientTest
/httpClientTest
/genny_results

# benchrun files
/benchrun_embedded

# Linters
.mypy_cache

#debian
build-stamp
configure-stamp
debian/mongodb

# OSX files
.DS_Store
._.DS_Store
*.fuse_*

# QtCreator
*.config
*.creator
*.creator.user
*.files
*.includes
*.orig

# Eclipse build artifacts
.cproject
.project
.pydevproject
.externalToolBuilders/
.settings/

# Idea CLion project artifacts
.idea
CMakeLists.txt

# XCode projects
.xcworkspace

# Visual Studio and VSCode projects
.vscode/
.vs/
/x64/

# Windows MSI builder artifacts
*.msi
*.wixobj
*.wixpdb
DriverInclude.wxs

# Gradle
.gradle
src/mongo/embedded/java/build/
src/mongo/embedded/java/aar/build/
src/mongo/embedded/java/jar/build/
local.properties

# clangd language server
.clangd/

compile_commands.json
generated_resmoke_config
selected_tests_config

# Code review tool config
codereview.rc

# Python venvs and virtualenvs
python3-venv
python2-venv

# Generated resmoke configuration file
resmoke.ini

# UndoDB Recordings
*.undo
