.jsdbshell
.dbshell
.sconsign.dblite
.sconf_temp

*~
*.o
*.aps
*.tar.gz
*.suo
*.ncb
*.idb 
*.obj 
*.opt 
*.pch 
*.jsh
*.jsall

db/Debug
db/oplog*
db/.gdb*
db/makefile.local
config.log

#temp dirs
dump
log
logs
docs

# binaryies
mongo
mongod
mongogrid
mongodump
mongoimport

#libs
libmongoclient.*
libmongotestfiles.*

# examples
firstExample
secondExample

#tests
test
authTest
clientTest

