{
    "bracketSpacing": false,
    "overrides": [
        {
            "files": ["*.js", "*.mjs"],
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "*.idl",
            "options": {
                "parser": "yaml",
                "tabWidth": 4
            }
        }
    ]
}
