# Ignore everything
# We are making prettier opt in for the moment while we work on the rollout
# !*/ means do not ignore recursive directories
# Together these work togather to make nothing opted-in by default
*
!*/

# Do not ignore markdown
# We are only going to do markdown file formatting for now
# Hopefully we will use prettier for more file types in the future
!*.md

# Ignore all template files
# When we eventually enable prettier on javascript these files are invalid and should be ignored
**/*.tpl.*

# Ignore .yy files since prettier seems to think these are json files
**/*.yy

# Ignore all formatting in third_party/*
src/third_party
