# See https://www.pylint.org/
[BASIC]
# Permit 2 character & long argument names, like db
argument-rgx=[a-z_][a-z0-9_]{1,50}$
# Long attribute names
attr-rgx=[a-z_][a-z0-9_]{2,50}$
# Long function names
function-rgx=[a-z_][a-z0-9_]{2,50}$
# Long method names
method-rgx=[a-z_][a-z0-9_]{2,50}$
# Permit 2 character  & long variable names, like sb
variable-rgx=[a-z_][a-z0-9_]{1,50}$

[MESSAGES CONTROL]
# C0301 - line-too-long - some of the type annotations are longer then 100 columns
# C0330 - bad-continuation - ignore conflicts produced by yapf formatting
# E0401 - import-error - ignore imports that fail to load
# E1101 - no-member - ignore maybe no member warnings
# I0011 - locally-disabled - ignore warnings about disable pylint checks
# R0204 - redefined-variable-type
# R0903 - too-few-public-methods - pylint does not always know best
# R1705 - no-else-return - sometimes an unnecessary else helps readability
# W0511 - fixme - ignore TODOs in comments
# W0611 - unused-import - typing module is needed for mypy
# R0205 - useless-object-inheritance - See PM-1380
# W0402 - deprecated-module - See PM-1380
# W1505 - deprecated-method - See PM-1380
# W0107 - unnecessary-pass - See PM-1380
# R1720 - no-else-raise - See PM-1380
# W0122 - exec-used - See PM-1380
# R0801 - duplicate-code - See PM-1380
# E0611 - no-name-in-module

disable=bad-continuation,fixme,import-error,line-too-long,no-member,locally-disabled,no-else-return,redefined-variable-type,too-few-public-methods,unused-import,useless-object-inheritance,deprecated-module,unnecessary-pass,duplicate-code,no-else-raise,deprecated-method,exec-used,no-name-in-module

[IMPORTS]
known-third-party=boto3,botocore,psutil,yaml,xmlrunner
