# Directories owned by Service Architecture
/buildscripts/idl @10gen/server-service-architecture
/jstests/fail_point @10gen/server-service-architecture
/jstests/sharding/load_balancer_support @10gen/server-service-architecture
/jstests/watchdog @10gen/server-service-architecture
/src/mongo/base @10gen/server-service-architecture
/src/mongo/client/mongo_uri_tests @10gen/server-service-architecture
/src/mongo/client/sdam @10gen/server-service-architecture
/src/mongo/db/ftdc @10gen/server-service-architecture
/src/mongo/db/process_health @10gen/server-service-architecture
/src/mongo/executor @10gen/server-service-architecture
/src/mongo/platform @10gen/server-service-architecture
/src/mongo/stdx @10gen/server-service-architecture
/src/mongo/tools/mongobridge_tool @10gen/server-service-architecture
/src/mongo/transport @10gen/server-service-architecture
/src/mongo/watchdog @10gen/server-service-architecture
/src/mongo/logv2 @10gen/server-service-architecture

# Service Architecture owns all of the above directories except for the below mentioned files.
# Not specifying an owner sets the file to ownerless.
/src/mongo/transport/ssl_connection_context.h
/src/mongo/base/error_codes.yml


# Javascript tests owned by Service Architecture
/jstests/concurrency/fsm_workloads/server_status.js @10gen/server-service-architecture
/jstests/concurrency/fsm_workloads/server_status_with_time_out_cursors.js @10gen/server-service-architecture
/jstests/core/connection_string_validation.js @10gen/server-service-architecture
/jstests/core/failcommand_failpoint.js @10gen/server-service-architecture
/jstests/core/hostinfo.js @10gen/server-service-architecture
/jstests/core/latch_analyzer.js @10gen/server-service-architecture
/jstests/httpinterface/network_options.js @10gen/server-service-architecture
/jstests/noPassthroughWithMongod/connections_opened.js @10gen/server-service-architecture
/jstests/noPassthroughWithMongod/host_connection_string_validation.js @10gen/server-service-architecture
/jstests/noPassthroughWithMongod/ingress_handshake_and_auth_metrics.js @10gen/server-service-architecture
/jstests/noPassthroughWithMongod/ipv6_connection_string_validation.js @10gen/server-service-architecture
/jstests/noPassthroughWithMongod/network_metrics.js @10gen/server-service-architecture
/jstests/noPassthroughWithMongod/replset_host_connection_validation.js @10gen/server-service-architecture
/jstests/noPassthroughWithMongod/tcmalloc.js @10gen/server-service-architecture

# Source files owned by Service Architecture
/src/mongo/client/async_client.cpp @10gen/server-service-architecture
/src/mongo/client/async_client.h @10gen/server-service-architecture
/src/mongo/client/async_client.idl @10gen/server-service-architecture
/src/mongo/client/async_remote_command_targeter_adapter_test.cpp @10gen/server-service-architecture
/src/mongo/client/async_remote_command_targeter_adapter.h @10gen/server-service-architecture
/src/mongo/client/connection_pool.cpp @10gen/server-service-architecture
/src/mongo/client/connection_pool.h @10gen/server-service-architecture
/src/mongo/client/connection_string_connect.cpp @10gen/server-service-architecture
/src/mongo/client/connection_string_test.cpp @10gen/server-service-architecture
/src/mongo/client/connection_string.cpp @10gen/server-service-architecture
/src/mongo/client/connection_string.h @10gen/server-service-architecture
/src/mongo/client/connpool_integration_test.cpp @10gen/server-service-architecture
/src/mongo/client/connpool.cpp @10gen/server-service-architecture
/src/mongo/client/connpool.h @10gen/server-service-architecture
/src/mongo/client/constants.h @10gen/server-service-architecture
/src/mongo/client/dbclient_base.cpp @10gen/server-service-architecture
/src/mongo/client/dbclient_base.h @10gen/server-service-architecture
/src/mongo/client/dbclient_connection_integration_test.cpp @10gen/server-service-architecture
/src/mongo/client/dbclient_connection.cpp @10gen/server-service-architecture
/src/mongo/client/dbclient_connection.h @10gen/server-service-architecture
/src/mongo/client/dbclient_cursor_test.cpp @10gen/server-service-architecture
/src/mongo/client/dbclient_cursor.cpp @10gen/server-service-architecture
/src/mongo/client/dbclient_cursor.h @10gen/server-service-architecture
/src/mongo/client/dbclient_mockcursor.cpp @10gen/server-service-architecture
/src/mongo/client/dbclient_mockcursor.h @10gen/server-service-architecture
/src/mongo/client/dbclient_rs_test.cpp @10gen/server-service-architecture
/src/mongo/client/dbclient_rs.cpp @10gen/server-service-architecture
/src/mongo/client/dbclient_rs.h @10gen/server-service-architecture
/src/mongo/client/dbclient_session.cpp @10gen/server-service-architecture
/src/mongo/client/dbclient_session.h @10gen/server-service-architecture
/src/mongo/client/global_conn_pool.cpp @10gen/server-service-architecture
/src/mongo/client/global_conn_pool.h @10gen/server-service-architecture
/src/mongo/client/global_conn_pool.idl @10gen/server-service-architecture
/src/mongo/client/hedging_mode.idl @10gen/server-service-architecture
/src/mongo/client/mongo_uri_connect.cpp @10gen/server-service-architecture
/src/mongo/client/mongo_uri_test.cpp @10gen/server-service-architecture
/src/mongo/client/mongo_uri.cpp @10gen/server-service-architecture
/src/mongo/client/mongo_uri.hm@10gen/server-service-architecture
/src/mongo/client/remote_command_retry_scheduler_test.cpp @10gen/server-service-architecture
/src/mongo/client/remote_command_retry_scheduler.cpp @10gen/server-service-architecture
/src/mongo/client/remote_command_retry_scheduler.h @10gen/server-service-architecture
/src/mongo/client/remote_command_targeter_factory_impl.cpp @10gen/server-service-architecture
/src/mongo/client/remote_command_targeter_factory_impl.h @10gen/server-service-architecture
/src/mongo/client/remote_command_targeter_factory_mock.cpp @10gen/server-service-architecture
/src/mongo/client/remote_command_targeter_factory_mock.h @10gen/server-service-architecture
/src/mongo/client/remote_command_targeter_factory.h @10gen/server-service-architecture
/src/mongo/client/remote_command_targeter_mock.cpp @10gen/server-service-architecture
/src/mongo/client/remote_command_targeter_mock.h @10gen/server-service-architecture
/src/mongo/client/remote_command_targeter_rs.cpp @10gen/server-service-architecture
/src/mongo/client/remote_command_targeter_rs.h @10gen/server-service-architecture
/src/mongo/client/remote_command_targeter_standalone.cpp @10gen/server-service-architecture
/src/mongo/client/remote_command_targeter_standalone.h @10gen/server-service-architecture
/src/mongo/client/remote_command_targeter.h @10gen/server-service-architecture
/src/mongo/client/replica_set_change_notifier.cpp @10gen/server-service-architecture
/src/mongo/client/replica_set_change_notifier.h @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor_integration_test.cpp @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor_interface.h @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor_manager.cpp @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor_manager.h @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor_protocol_test_util.cpp @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor_protocol_test_util.h @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor_server_parameters_test.cpp @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor_server_parameters.cpp @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor_server_parameters.h @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor_server_parameters.idl @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor_stats.cpp @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor_stats.h @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor.cpp @10gen/server-service-architecture
/src/mongo/client/replica_set_monitor.h @10gen/server-service-architecture
/src/mongo/client/SConscript @10gen/server-service-architecture
/src/mongo/client/scoped_db_connection_test.cpp @10gen/server-service-architecture
/src/mongo/client/server_discovery_monitor_expedited_test.cpp @10gen/server-service-architecture
/src/mongo/client/server_discovery_monitor_test.cpp @10gen/server-service-architecture
/src/mongo/client/server_discovery_monitor.cpp @10gen/server-service-architecture
/src/mongo/client/server_discovery_monitor.h @10gen/server-service-architecture
/src/mongo/client/server_ping_monitor_test.cpp @10gen/server-service-architecture
/src/mongo/client/server_ping_monitor.cpp @10gen/server-service-architecture
/src/mongo/client/server_ping_monitor.h @10gen/server-service-architecture
/src/mongo/client/streamable_replica_set_monitor_discovery_time_processor_test.cpp @10gen/server-service-architecture
/src/mongo/client/streamable_replica_set_monitor_discovery_time_processor.cpp @10gen/server-service-architecture
/src/mongo/client/streamable_replica_set_monitor_discovery_time_processor.h @10gen/server-service-architecture
/src/mongo/client/streamable_replica_set_monitor_error_handler_test.cpp @10gen/server-service-architecture
/src/mongo/client/streamable_replica_set_monitor_error_handler.cpp @10gen/server-service-architecture
/src/mongo/client/streamable_replica_set_monitor_error_handler.h @10gen/server-service-architecture
/src/mongo/client/streamable_replica_set_monitor_for_testing.cpp @10gen/server-service-architecture
/src/mongo/client/streamable_replica_set_monitor_for_testing.h @10gen/server-service-architecture
/src/mongo/client/streamable_replica_set_monitor_query_processor.cpp @10gen/server-service-architecture
/src/mongo/client/streamable_replica_set_monitor_query_processor.h @10gen/server-service-architecture
/src/mongo/client/streamable_replica_set_monitor.cpp @10gen/server-service-architecture
/src/mongo/client/streamable_replica_set_monitor.h @10gen/server-service-architecture
/src/mongo/db/concurrency/exception_util.idl @10gen/server-service-architecture 
/src/mongo/db/concurrency/exception_util.h @10gen/server-service-architecture 
/src/mongo/db/concurrency/exception_util.cpp @10gen/server-service-architecture 
/src/mongo/dbtests/mock/mock_conn_registry.cpp @10gen/server-service-architecture 
/src/mongo/dbtests/mock/mock_conn_registry.h @10gen/server-service-architecture 
/src/mongo/dbtests/mock/mock_dbclient_connection.cpp @10gen/server-service-architecture 
/src/mongo/dbtests/mock/mock_dbclient_connection.h @10gen/server-service-architecture 
/src/mongo/dbtests/mock/mock_remote_db_server.cpp @10gen/server-service-architecture 
/src/mongo/dbtests/mock/mock_remote_db_server.h @10gen/server-service-architecture 
/src/mongo/dbtests/mock_dbclient_conn_test.cpp @10gen/server-service-architecture 
/src/mongo/idl/idl_parser_bm.cpp @10gen/server-service-architecture 
/src/mongo/idl/idl_parser.cpp @10gen/server-service-architecture 
/src/mongo/idl/idl_parser.h @10gen/server-service-architecture 
/src/mongo/idl/idl_test_types.h @10gen/server-service-architecture 
/src/mongo/idl/idl_test.cpp @10gen/server-service-architecture 
/src/mongo/idl/idl_test.h @10gen/server-service-architecture 
/src/mongo/idl/mutable_observer_registry.h @10gen/server-service-architecture 
/src/mongo/idl/SConscript @10gen/server-service-architecture 
/src/mongo/idl/unittest_import.idl @10gen/server-service-architecture 
/src/mongo/idl/unittest.idl @10gen/server-service-architecture 
/src/mongo/rpc/metadata/client_metadata_test.cpp @10gen/server-service-architecture
/src/mongo/rpc/metadata/client_metadata.cpp @10gen/server-service-architecture
/src/mongo/rpc/metadata/client_metadata.h @10gen/server-service-architecture
/src/mongo/rpc/metadata/client_metadata.idl @10gen/server-service-architecture
/src/mongo/rpc/metadata/egress_metadata_hook_list_test.cpp @10gen/server-service-architecture
/src/mongo/rpc/metadata/egress_metadata_hook_list.cpp @10gen/server-service-architecture
/src/mongo/rpc/metadata/egress_metadata_hook_list.h @10gen/server-service-architecture
/src/mongo/rpc/factory.cpp @10gen/server-service-architecture
/src/mongo/rpc/factory.h @10gen/server-service-architecture
/src/mongo/rpc/get_status_from_command_result_test.cpp @10gen/server-service-architecture
/src/mongo/rpc/get_status_from_command_result.cpp @10gen/server-service-architecture
/src/mongo/rpc/get_status_from_command_result.h @10gen/server-service-architecture
/src/mongo/rpc/legacy_reply_builder.cpp @10gen/server-service-architecture
/src/mongo/rpc/legacy_reply_builder.h @10gen/server-service-architecture
/src/mongo/rpc/legacy_reply.cpp @10gen/server-service-architecture
/src/mongo/rpc/legacy_reply.h @10gen/server-service-architecture
/src/mongo/rpc/legacy_request.cpp @10gen/server-service-architecture
/src/mongo/rpc/legacy_request.h @10gen/server-service-architecture
/src/mongo/rpc/message.cpp @10gen/server-service-architecture
/src/mongo/rpc/message.h @10gen/server-service-architecture
/src/mongo/rpc/metadata_test.cpp @10gen/server-service-architecture
/src/mongo/rpc/metadata.cpp @10gen/server-service-architecture
/src/mongo/rpc/metadata.h @10gen/server-service-architecture
/src/mongo/rpc/op_legacy_integration_test.cpp @10gen/server-service-architecture
/src/mongo/rpc/op_msg_integration_test.cpp @10gen/server-service-architecture
/src/mongo/rpc/op_msg_rpc_impls.h @10gen/server-service-architecture
/src/mongo/rpc/op_msg_test.cpp @10gen/server-service-architecture
/src/mongo/rpc/op_msg_test.h @10gen/server-service-architecture
/src/mongo/rpc/op_msg.cpp @10gen/server-service-architecture
/src/mongo/rpc/op_msg.h @10gen/server-service-architecture
/src/mongo/rpc/protocol_fuzzer.cpp @10gen/server-service-architecture
/src/mongo/rpc/protocol.h @10gen/server-service-architecture
/src/mongo/rpc/reply_builder_interface.cpp @10gen/server-service-architecture
/src/mongo/rpc/reply_builder_interface.h @10gen/server-service-architecture
/src/mongo/rpc/reply_builder_test.cpp @10gen/server-service-architecture
/src/mongo/rpc/reply_interface.h @10gen/server-service-architecture
/src/mongo/rpc/SConscript @10gen/server-service-architecture
/src/mongo/rpc/unique_message.h @10gen/server-service-architecture
/src/mongo/scripting/dbdirectclient_factory.cpp @10gen/server-service-architecture 
/src/mongo/scripting/dbdirectclient_factory.h @10gen/server-service-architecture 
/src/mongo/scripting/deadline_monitor_test.cpp @10gen/server-service-architecture 
/src/mongo/scripting/deadline_monitor.cpp @10gen/server-service-architecture 
/src/mongo/scripting/deadline_monitor.h @10gen/server-service-architecture 
/src/mongo/scripting/deadline_monitor.idl @10gen/server-service-architecture 
/src/mongo/unittest/assert_that_test.cpp @10gen/server-service-architecture
/src/mongo/unittest/assert_that.h @10gen/server-service-architecture
/src/mongo/unittest/assert.h @10gen/server-service-architecture
/src/mongo/unittest/barrier.h @10gen/server-service-architecture
/src/mongo/unittest/barrier.cpp @10gen/server-service-architecture
/src/mongo/unittest/death_test.h @10gen/server-service-architecture
/src/mongo/unittest/death_test.cpp @10gen/server-service-architecture
/src/mongo/unittest/framework.h @10gen/server-service-architecture
/src/mongo/unittest/fixture_test.cpp @10gen/server-service-architecture
/src/mongo/unittest/integration_test.h @10gen/server-service-architecture
/src/mongo/unittest/integration_test_main.idl @10gen/server-service-architecture
/src/mongo/unittest/integration_test_main.cpp @10gen/server-service-architecture
/src/mongo/unittest/matcher.h @10gen/server-service-architecture
/src/mongo/unittest/matcher.cpp @10gen/server-service-architecture
/src/mongo/unittest/matcher_core.h @10gen/server-service-architecture
/src/mongo/unittest/SConscript @10gen/server-service-architecture
/src/mongo/unittest/task_executor_proxy.h @10gen/server-service-architecture
/src/mongo/unittest/task_executor_proxy.cpp @10gen/server-service-architecture
/src/mongo/unittest/thread_assertion_monitor.h @10gen/server-service-architecture
/src/mongo/unittest/thread_assertion_monitor_test.cpp @10gen/server-service-architecture
/src/mongo/unittest/unittest_main.cpp @10gen/server-service-architecture
/src/mongo/unittest/unittest_options.idl @10gen/server-service-architecture
/src/mongo/unittest/unittest_test.cpp @10gen/server-service-architecture
/src/mongo/unittest/unittest.cpp @10gen/server-service-architecture
/src/mongo/unittest/unittest.h @10gen/server-service-architecture
/src/mongo/util/concurrency/idle_thread_block.cpp @10gen/server-service-architecture
/src/mongo/util/concurrency/idle_thread_block.h @10gen/server-service-architecture
/src/mongo/util/concurrency/mutex.h @10gen/server-service-architecture
/src/mongo/util/concurrency/notification.h @10gen/server-service-architecture
/src/mongo/util/concurrency/SConscript @10gen/server-service-architecture
/src/mongo/util/concurrency/spin_lock_test.cpp @10gen/server-service-architecture
/src/mongo/util/concurrency/spin_lock.cpp @10gen/server-service-architecture
/src/mongo/util/concurrency/spin_lock.h @10gen/server-service-architecture
/src/mongo/util/concurrency/thread_name.cpp @10gen/server-service-architecture 
/src/mongo/util/concurrency/thread_name.h @10gen/server-service-architecture 
/src/mongo/util/concurrency/thread_pool_interface.h @10gen/server-service-architecture
/src/mongo/util/concurrency/thread_pool_test_common.cpp @10gen/server-service-architecture
/src/mongo/util/concurrency/thread_pool_test_common.h @10gen/server-service-architecture
/src/mongo/util/concurrency/thread_pool_test_fixture.cpp @10gen/server-service-architecture
/src/mongo/util/concurrency/thread_pool_test_fixture.h @10gen/server-service-architecture
/src/mongo/util/concurrency/thread_pool_test.cpp @10gen/server-service-architecture
/src/mongo/util/concurrency/thread_pool.cpp @10gen/server-service-architecture
/src/mongo/util/concurrency/thread_pool.h @10gen/server-service-architecture
/src/mongo/util/net/cidr_test.cpp @10gen/server-service-architecture
/src/mongo/util/net/cidr.cpp @10gen/server-service-architecture
/src/mongo/util/net/cidr.h @10gen/server-service-architecture
/src/mongo/util/net/hostandport_test.cpp @10gen/server-service-architecture
/src/mongo/util/net/hostandport.cpp @10gen/server-service-architecture
/src/mongo/util/net/hostandport.h @10gen/server-service-architecture
/src/mongo/util/net/hostandport.idl @10gen/server-service-architecture
/src/mongo/util/net/hostname_canonicalization.cpp @10gen/server-service-architecture
/src/mongo/util/net/hostname_canonicalization.h @10gen/server-service-architecture
/src/mongo/util/net/http_client_curl.cpp @10gen/server-service-architecture
/src/mongo/util/net/http_client_mock.cpp @10gen/server-service-architecture
/src/mongo/util/net/http_client_mock.h @10gen/server-service-architecture
/src/mongo/util/net/http_client_none.cpp @10gen/server-service-architecture
/src/mongo/util/net/http_client_options.cpp @10gen/server-service-architecture
/src/mongo/util/net/http_client_options.h @10gen/server-service-architecture
/src/mongo/util/net/http_client_options.idl @10gen/server-service-architecture
/src/mongo/util/net/http_client_test.cpp @10gen/server-service-architecture
/src/mongo/util/net/http_client_winhttp.cpp @10gen/server-service-architecture
/src/mongo/util/net/http_client.cpp @10gen/server-service-architecture
/src/mongo/util/net/http_client.h @10gen/server-service-architecture
/src/mongo/util/net/network_interface_ssl_test.cpp @10gen/server-service-architecture
/src/mongo/util/net/README.md @10gen/server-service-architecture
/src/mongo/util/net/SConscript @10gen/server-service-architecture
/src/mongo/util/net/sock_test.cpp @10gen/server-service-architecture
/src/mongo/util/net/sock.cpp @10gen/server-service-architecture
/src/mongo/util/net/sock.h @10gen/server-service-architecture
/src/mongo/util/net/sockaddr.cpp @10gen/server-service-architecture
/src/mongo/util/net/sockaddr.h @10gen/server-service-architecture
/src/mongo/util/net/socket_exception.cpp @10gen/server-service-architecture
/src/mongo/util/net/socket_exception.h @10gen/server-service-architecture
/src/mongo/util/net/socket_utils.cpp @10gen/server-service-architecture
/src/mongo/util/net/socket_utils.h @10gen/server-service-architecture 
