version: '3.0'

services:
    {%- for i in range(num_configsvr) %}
    configsvr{{ i }}:
        container_name: configsvr{{ i }}
        hostname: configsvr{{ i }}
        image: mongo-binaries:{{ tag }}
        volumes:
            - ./logs/configsvr{{ i }}:/var/log/mongodb/
            - ./scripts:/scripts/
            - ./data/configsvr{{ i }}:/data/configdb/
        command: /bin/bash /scripts/configsvr{{ i }}_init.sh
        networks:
            antithesis-net:
                ipv4_address: 10.20.20.{{ get_and_increment_ip_address() }}
    {%- endfor %}
    
    {%- for s in range(num_shard) %}
    {%- for n in range(num_node_per_shard) -%}
    {% set i = s*num_node_per_shard+n %}
    mongod{{ i }}:
        container_name: mongod{{ i }}
        hostname: mongod{{ i }}
        image: mongo-binaries:{{ tag }}
        volumes:
            - ./logs/mongod{{ i }}:/var/log/mongodb/
            - ./scripts:/scripts/
            - ./data/mongod{{ i }}:/data/db/
        command: /bin/bash /scripts/mongod{{ i }}_init.sh
        networks:
            antithesis-net:
                ipv4_address: 10.20.20.{{ get_and_increment_ip_address() }}   
    {%- endfor %}
    {%- endfor %}

    {%- for m in range(num_mongos) %}
    mongos{{ m }}:
        container_name: mongos{{ m }}
        hostname: mongos{{ m }}
        image: mongo-binaries:{{ tag }}
        volumes:
            - ./logs/mongos{{ m }}:/var/log/mongodb/
            - ./scripts:/scripts/
        command: python3 /scripts/mongos{{ m }}_init.py
        depends_on:
            {%- for i in range(num_configsvr) %}
            - configsvr{{ i }}
            {%- endfor %}
            {%- for s in range(num_shard) %}
            {%- for n in range(num_node_per_shard) -%}
            {% set i = s*num_node_per_shard+n %}
            - mongod{{ i }}
            {%- endfor %}
            {%- endfor %}
        networks:
            antithesis-net:
                ipv4_address: 10.20.20.{{ get_and_increment_ip_address() }}
    {%- endfor %}
    workload:
        container_name: workload
        hostname: workload
        image: workload:{{ tag }}
        volumes:
            - ./logs/workload:/var/log/resmoke/
            - ./scripts:/scripts/
        command: python3 /scripts/workload_init.py
        networks:
            antithesis-net:
                ipv4_address: 10.20.20.130
        depends_on:
            {%- for m in range(num_mongos) %}
            - mongos{{ m }}
            {%- endfor %}
networks:
    antithesis-net:
        driver: bridge
        ipam:
            config:
                - subnet: 10.20.20.0/24
