# Script to run the target antithesis suite

final_exit_code=0
sudo docker-compose down
sudo docker-compose up -d
sudo docker exec workload /bin/bash -c \
    "cd resmoke && . python3-venv/bin/activate && python3 buildscripts/resmoke.py run --suite {{ suite }} --sanityCheck"
final_exit_code=$(echo $?)
sudo docker-compose down
exit $final_exit_code
