#app
  nav#navbar(role='navigation').navbar.navbar-default
    .container-fluid
      .navbar-header
        .navbar-brand WTstats
      ul.nav.navbar-right
        //- li.navbar-text
        //-   i#menubtn.fa.fa-clock-o
        //-   span x-axis
        //-   div(data-toggle='buttons', data-hook='xSetting').btn-group
        //-     label.btn.btn-default.active
        //-       input(type='radio', name='xSetting', id='relative', value='relative', checked)
        //-       | relative
        //-     label.btn.btn-default
        //-       input(type='radio', name='xSetting', id='absolute', value='absolute') 
        //-       | absolute

        li.navbar-text
          i#menubtn.fa.fa-line-chart
          span y-axis
          div(data-toggle='buttons', data-hook='ySetting').btn-group
            label.btn.btn-default.active
              input(type='radio', name='ySetting', value='linear', checked)
              | linear
            label.btn.btn-default
              input(type='radio', name='ySetting', value='log-scale') 
              | log-scale

  #wrapper
    #sidebar-wrapper
      .sidebar-nav
        div(data-hook='sidebar')
      
    .container-fluid
      .row
        div.col-md-12
          div(data-hook='chart')

