[ ca ]
default_ca      = CA_default            # The default ca section

[ CA_default ]
dir            = .                     # top dir
database       = $dir/ca_state/index.txt        # index file.
new_certs_dir	= $dir/ca_state/newcerts        # new certs dir
RANDFILE       = $dir/ca_state/.rand    # random number file
 
certificate    = $dir/ca.pem       # The CA cert
serial         = $dir/ca_state/serial           # serial no file
private_key    = $dir/ca.pem        # CA private key
 
default_days   = 3650                  # how long to certify for
default_crl_days= 3650                   # how long before next CRL
default_md     = sha256                   # md to use
copy_extensions = copy
unique_subject = no

policy         = policy_any            # default policy

[ policy_any ]
countryName            = optional
stateOrProvinceName    = optional
localityName           = optional
organizationName       = optional
organizationalUnitName = optional
commonName             = supplied
emailAddress           = optional

[ req ]
default_bits		= 2048
default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name
attributes		= req_attributes
x509_extensions = usr_cert

string_mask = utf8only

[ req_attributes ]

[ req_distinguished_name ]
commonName			= Common Name (e.g. server FQDN or YOUR name)
commonName_max			= 64

organizationalUnitName		= Organizational Unit Name (eg, section)
organizationalUnitName_default	= Kernel

0.organizationName		= Organization Name (eg, company)
0.organizationName_default	= MongoDB

localityName			= Locality Name (eg, city)
localityName_default            = New York City

stateOrProvinceName		= State or Province Name (full name)
stateOrProvinceName_default	= New York

countryName			= Country Name (2 letter code)
countryName_default		= US
countryName_min			= 2
countryName_max			= 2 

[ usr_cert ]
basicConstraints = CA:TRUE
authorityInfoAccess = OCSP;URI:http://localhost:8080
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = OCSPSigning

[ crl_ext ]
authorityKeyIdentifier=keyid:always
