test_kind: js_test

selector:
  roots:
  - jstests/sharding/**/*.js
  exclude_files:
  - jstests/sharding/**/libs/**/*.js
  exclude_with_any_tags:
  - config_shard_incompatible

executor:
  archive:
    tests:
      - jstests/sharding/*reshard*.js
  config:
    shell_options:
      global_vars:
        TestData:
          configShard: true
      nodb: ''
