contourpy==1.1.1
cycler==0.12.0
dnspython==2.4.2
fonttools==4.43.0
joblib==1.3.2
kiwisolver==1.4.5
matplotlib==3.8.0
numpy==1.26.0
packaging==23.2
pandas==2.1.1
patsy==0.5.3
Pillow==10.0.1
pymongo==4.13.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.13.0
six==1.16.0
statsmodels==0.14.0
threadpoolctl==3.2.0
tzdata==2023.3
