[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target
Documentation=https://docs.bongodb.org/manual

[Service]
User=bongodb
Group=bongodb
ExecStart=/usr/bin/bongod --quiet --config /etc/bongod.conf
# file size
LimitFSIZE=infinity
# cpu time
LimitCPU=infinity
# virtual memory size
LimitAS=infinity
# open files
LimitNOFILE=64000
# processes/threads
LimitNPROC=64000
# total threads (user+kernel)
TasksMax=infinity
TasksAccounting=false

# Recommended limits for for bongod as specified in
# http://docs.bongodb.org/manual/reference/ulimit/#recommended-settings

[Install]
WantedBy=multi-user.target
