doctype html
meta(charset='utf-8')
html(lang='en')
  head
    title WTstats
    meta(name='viewport', content='initial-scale=1')
    link(rel='stylesheet', href='css/index.css')
    link(rel="stylesheet", href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
  body
    #app

  script(src="index.js")
