<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?if $(var.Edition) = Enterprise ?>
      <WixVariable Id="MiscToolsDesc" Value="Miscellaneous MerizoDB tools (bsondump, merizodecrypt, merizofiles, merizoldap)" />
    <?else?>
      <WixVariable Id="MiscToolsDesc" Value="Miscellaneous MerizoDB tools (bsondump, merizofiles)" />
    <?endif?>
    <FeatureGroup Id="fg_MerizoDBAll">
      <Feature Id="ProductFeature"
               Title="!(wix.ProductName)"
               Description="!(wix.ProductName)"
               Level="1"
               ConfigurableDirectory="INSTALLLOCATION">
        <?if $(var.Edition) = Enterprise or $(var.Edition) = SSL ?>
          <MergeRef Id="m_vcredist"/>
        <?endif?>
        <ComponentGroupRef Id="cg_License" />
        <Feature Id="Server"
                 Title ="Server"
                 Description="The MerizoDB server (merizod)"
                 Level ="1">
          <ComponentRef Id="c_merizodPdb"/>
          <ComponentRef Id="c_merizodCfg"/>

          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseServer" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="ServerNoService"
                 Title ="ServerNoService"
                 Description="The MerizoDB server (merizod)"
                 Display="hidden"
                 Level ="32767">
             <ComponentRef Id="c_merizod"/>
        </Feature>
        <Feature Id="ServerService"
                 Title ="ServerService"
                 Description="The MerizoDB server (merizod)"
                 Display="hidden"
                 Level ="32767">
             <ComponentRef Id="c_merizodWithService"/>
             <ComponentRef Id="c_merizodWithServiceUser" />
             <ComponentRef Id="c_MERIZO_DATA_PATH"/>
             <ComponentRef Id="c_MERIZO_LOG_PATH"/>
        </Feature>
        <Feature Id="Client"
                 Title ="Client"
                 Description="The MerizoDB client/shell (merizo)"
                 Level ="1">
          <ComponentRef Id="c_merizo"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="MonitoringTools"
                 Title ="Monitoring Tools"
                 Description="MerizoDB monitoring tools (merizostat, merizotop)"
                 Level ="1">
          <ComponentRef Id="c_merizostat"/>
          <ComponentRef Id="c_merizotop"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="ImportExportTools"
                 Title ="Import/Export Tools"
                 Description="MerizoDB import/export tools (merizodump/merizorestore and merizoexport/merizoimport)"
                 Level ="1">
          <ComponentRef Id="c_merizodump"/>
          <ComponentRef Id="c_merizorestore"/>
          <ComponentRef Id="c_merizoexport"/>
          <ComponentRef Id="c_merizoimport"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="Router"
                 Title ="Router"
                 Description="The MerizoDB Router (merizos)"
                 Level ="1">
          <ComponentRef Id="c_merizos"/>
          <ComponentRef Id="c_merizosPdb"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="MiscellaneousTools"
                Title ="Miscellaneous Tools"
                Description="!(wix.MiscToolsDesc)"
                Level ="1">
          <ComponentRef Id="c_bsondump"/>
          <ComponentRef Id="c_merizofiles"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
            <ComponentRef Id="c_merizodecrypt"/>
            <ComponentRef Id="c_merizoldap"/>
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <?if $(var.Edition) = Enterprise ?>
        <Feature Id="MerizoCryptD"
                Title ="MerizoCryptD"
                Description="MerizoDB Field Level Encryption Daemon"
                Level ="1">
          <ComponentRef Id="c_merizocryptd"/>
          <ComponentRef Id="c_merizocryptdPdb"/>
        </Feature>
        <?endif ?>
      </Feature>
    </FeatureGroup>

    <!-- This feature only includes the powershell script in installation. WIX
         requires all components to have a feature and the component is required
         to bundle the script in the MSI. Display is set to hidden because this
         feature does not enable or disable anything. -->
    <Feature Id="InstallCompassFeature" Display="hidden">
      <ComponentRef Id="InstallCompass" />
    </Feature>
  </Fragment>
</Wix>
