#bitcnt
#	number of bits for fixed-length column-store files

#cache
#	size of the cache in MB

#compression
#	type of compression (none | bzip | raw | snappy)

#data_source
#	type of data source to create (file | table | lsm)

#delete_pct
#	percent operations that are deletes

#dictionary
#	if values are dictionary compressed

#file_type
#	type of file to create (fix | var | row)

#huffman_key
#	if keys are huffman encoded

#huffman_value
#	if values are huffman encoded

#insert_pct
#	percent operations that are inserts

#internal_key_truncation
#	if values are huffman encoded

#internal_page_max
#	maximum size of Btree internal nodes

#key_gap
#	gap between instantiated keys on a Btree page

#key_max
#	maximum size of keys

#key_min
#	minimum size of keys

#leaf_page_max
#	maximum size of Btree leaf nodes

#ops
#	the number of modification operations done per run

#prefix
#	if keys are prefix compressed

#repeat_data_pct
#	percent duplicate values in row- or variable-length column-stores

#reverse
#	collate in reverse order

#rows
#	the number of rows to create

#runs
#	the number of runs

#split_pct
#	Btree page split size as a percentage of the maximum page size

#threads
#	the number of threads

#value_max
#	maximum size of values

#value_min
#	minimum size of values

#wiredtiger_config
#	configuration string used to wiredtiger_open

#write_pct
#	percent operations that are writes

