-r components/platform.req
-r components/core.req

-r components/compile.req
-r components/lint.req
-r components/testing.req
-r components/external_auth.req
-r components/evergreen.req
-r components/aws.req
-r components/jiraclient.req
-r components/build_metrics.req
-r components/tooling_metrics.req
