# This file is specifically intended to pull in *all* of our requirements besides the platform
# specific options in components/platform.req. The motivation for this structure is that pip
# (including pip freeze) discards platform constraints. Thus generate-pip-constraints.sh always adds
# platform.req to the end of any constraints.txt files it makes.

-r components/core.req

-r components/compile.req
-r components/lint.req
-r components/mypy.req
-r components/resmoke.req
-r components/idl.req

-r components/aws.req
-r components/jiraclient.req
