# This file is specifically intended to pull in *all* of our
# requirements.

-r components/core.req

-r components/compile.req
-r components/evergreen.req
-r components/lint.req
-r components/testing.req
-r components/idl.req

-r components/aws.req
-r components/external_auth.req
-r components/jiraclient.req

-r components/platform.req

-r components/build_metrics.req
-r components/libdeps.req

-r components/tooling_metrics.req
