# This file is specifically intended to pull in *all* of our
# requirements.

-r components/core.req

-r components/compile.req
-r components/lint.req
-r components/mypy.req
-r components/resmoke.req
-r components/idl.req

-r components/aws.req
-r components/jiraclient.req

-r components/platform.req
