<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?if $(var.Edition) = Enterprise ?>
      <WixVariable Id="MiscToolsDesc" Value="Miscellaneous MongoDB tools (bsondump, mongodecrypt, mongofiles, mongooplog, mongoperf)" />
    <?else?>
      <WixVariable Id="MiscToolsDesc" Value="Miscellaneous MongoDB tools (bsondump, mongofiles, mongooplog, mongoperf)" />
    <?endif?>
    <FeatureGroup Id="fg_MongoDBAll">
      <Feature Id="ProductFeature"
               Title="!(wix.ProductName)"
               Description="!(wix.ProductName)"
               Level="1"
               ConfigurableDirectory="INSTALLLOCATION">
        <?if $(var.Edition) = Enterprise or $(var.Edition) = SSL ?>
          <MergeRef Id="m_vcredist"/>
        <?endif?>
        <ComponentGroupRef Id="cg_License" />
        <Feature Id="Server"
                 Title ="Server"
                 Description="The MongoDB server (mongod)"
                 Level ="1">
          <ComponentRef Id="c_mongod"/>
          <ComponentRef Id="c_mongodPdb"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseServer" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="Client"
                 Title ="Client"
                 Description="The MongoDB client/shell (mongo)"
                 Level ="1">
          <ComponentRef Id="c_mongo"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="MonitoringTools"
                 Title ="Monitoring Tools"
                 Description="MongoDB monitoring tools (mongostat, mongotop)"
                 Level ="1">
          <ComponentRef Id="c_mongostat"/>
          <ComponentRef Id="c_mongotop"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="ImportExportTools"
                 Title ="Import/Export Tools"
                 Description="MongoDB import/export tools (mongodump/mongorestore and mongoexport/mongoimport)"
                 Level ="1">
          <ComponentRef Id="c_mongodump"/>
          <ComponentRef Id="c_mongorestore"/>
          <ComponentRef Id="c_mongoexport"/>
          <ComponentRef Id="c_mongoimport"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="Router"
                 Title ="Router"
                 Description="The MongoDB Router (mongos)"
                 Level ="1">
          <ComponentRef Id="c_mongos"/>
          <ComponentRef Id="c_mongosPdb"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>     
        <Feature Id="MiscellaneousTools"
                Title ="Miscellaneous Tools"
                Description="!(wix.MiscToolsDesc)"
                Level ="1">
          <ComponentRef Id="c_bsondump"/>
          <ComponentRef Id="c_mongofiles"/>
          <ComponentRef Id="c_mongooplog"/>
          <ComponentRef Id="c_mongoperf"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
            <ComponentRef Id="c_mongodecrypt"/>
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
      </Feature>
    </FeatureGroup>
  </Fragment>
</Wix>

